/*******************************************************************************
Add your styles here
 *******************************************************************************/
 .taglist a, .widget_tag_cloud a{
	float:left;
	margin-right:4px;
	margin-bottom:4px;
}
.taglist a, .widget_tag_cloud a {
	padding:10px 20px;
	float:left;
	font-size:12px;
	letter-spacing:2px;
	text-transform:uppercase;
	background:#000;
	color:#fff!important;
}
.taglist{color:transparent;}
.cm_sub_title{text-align:left; margin-bottom:40px;}

.wr-widget-main article{padding-bottom:20px; padding-left:20px; text-align:left; padding-right:20px;}
.wr-widget-main .blog-title {padding-left:0px}
.wr-widget-main {font-size:14px; line-height:30px;}
footer p{font-size: 100%; padding:0px; line-height:inherit;}
.widget_search label, .woocommerce-product-search label{display:none;}
.widget_search #searchsubmit, .woocommerce-product-search input[type="submit"]{display:none;}
.widget_search input[type="text"], .woocommerce-product-search input[type="search"]{width:100%; height:35px;margin-top: 20px; padding-left:10px;}
.comment-author img{width:50px!important; height:50px!important;}
.comment{width:100%;}
.wr-page-comments ul{list-style:none!important;padding:0px!important;}
.wr-page-comments li{list-style:none!important; width:100%}
.menu-item-has-children:after{content: "\f103";
display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    bottom: 6px;
    right: 10px;
    z-index: 5;
    color: #ccc;
    font-size: 12px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;}
.menu-item-has-children:hover:after{-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);}
.menu-item-has-children ul li.menu-item-has-children:after{display:none;}
/*******unit test********/

 table thead:first-child tr:first-child th,  table tbody:first-child tr:first-child th,  table tbody:first-child tr:first-child td {
  border-top: 0;
}

  table th,    table td {
  padding: 8px;
  vertical-align: top;
  border:0px;
  text-align: left;
  line-height: 18px;
}

 table {
  margin: 20px 0;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

  table th,  table td {
  padding: 8px;
  
  vertical-align: top;
  text-align: left;
  line-height: 18px;
}

.wr-default-page ul, .blog-text ul, #div-comment-5 ul{
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
.wr-default-page ol, .blog-text ol, #div-comment-5 ol{
display: block;
list-style-type: decimal;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
img{max-width:100%;}
#attachment_907 {width:100%!important;}
.blog-text, .wr-default-page{text-align:left;}
.sub-menu{height:auto!important;}
.widget select{width:100%;border: 1px solid #ddd;height: 50px;}
.sticky h3 a{text-decoration:underline;}
/*****.blog-text h1, h3, h4, h5, h6, .commentlist h1{padding-left:20px;}*************/
.wr-multi-button{margin-right:10px;}
.wr-multi-button-4{  margin-left: -30px;
    margin-right: 52px;}
.logotextwr{    font-size: 18px;
    font-family: 'futurastd-bold';
    text-transform: uppercase;}
	
	/********woocommerce**********/
.woocommerce ul.products li.product h3{padding:0px;font-size: 16px;}
.product-text{padding:0px 20px 0px 20px;    font-size: 16px;
    text-align: left;
    font-family: 'futurastd-bold';
    text-transform: uppercase;
    margin-bottom: 10px;
	    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;}
.woocommerce ul.products li.product .star-rating {
    font-size: 1.2em;
    margin-top: 10px;
}
.woocommerce ul.products li.product .price {
    float: left;
    font-size: 16px;
	width:100%;
    font-style: italic;
    font-family: 'FuturaPT-Book';
    color: #666;
    padding-top: 5px;
}
.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins{float:left; padding-right:10px;}

li.product:hover .button-woo-wrap{
	top:40%;
	opacity:1;
}
.button-woo-wrap {
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 20;
    left: 0;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    text-align: center;
}

.button-woo-wrap .added_to_cart, .woocommerce a.button {
    border: 2px solid #292929;
    padding: 10px 20px;
    font-size: 12px;
	border-radius:0px;
    font-family: 'futurastd-bold';
    text-transform: uppercase;
    display: inline-table;
    color: #000;
    margin-right: 0 !important;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.woocommerce a.button{background:transparent;}

.button-woo-wrap .added_to_cart:hover, .woocommerce a.button:hover {
    color: #000;
    background: #fff;
    border-color: #fff;
}
.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    height: 40px;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px;
    font-family: 'FuturaPT-Book';
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count{    padding-left: 15px; padding-right: 15px;
    margin: 0px;
    font-family: 'futurastd-bold';}
.woocommerce-result-count{margin:0px;}
.woocommerce-pagination {
	margin-top:90px;
	text-align:center;
	float:left;
	width:100%;
	padding:0px 15px;
	
}
.widget .star-rating{max-width:100px;}
.woocommerce-pagination ul   {
	float:left;
	margin:20px 0 0;
	border:1px solid rgba(0,0,0,.07);
	list-style:none;
	padding:0 !important;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	float:left;
	padding: 12px 18px;
	position:relative;
	font-size:13px;
	line-height: 16px;
	color:#666;
	letter-spacing:1px;
	border-right:1px solid rgba(0,0,0,.07);
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current  {
    color:#fff;
	background:#000;
}


.woocommerce ul.products li.product, .woocommerce-page ul.products li.product { margin:0px;   margin-bottom: 10px;
    padding: 0px 15px;}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {width: 33.33%;}
@media only screen and  (max-width: 1036px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
		width:50%;
	}
	#wr-shop-wid.shop-sidebar {
		padding-left:0px!important;
	}
	
}

@media only screen and  (max-width: 536px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product	 {
		width:100%;
		float:none;
		display:inline-block;
	 
	}	
	#wr-shop-wid.shop-sidebar{padding-left: 15px!important;}

}
.dogma-pro-sidebar {position:relative; top:0px; height:100%; float:left; width:100%;}
.shop-sidebar {
	padding-left:80px!important;  background:#fff; 
}

.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li, .woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total{
float: left;
    width: 100%;
}

.shop-sidebar .widget .blog-title li {
    float: left;
    width: 100%;
    position: relative;
    font-size: 20px;
    color: #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.woocommerce.widget_shopping_cart .product_list_widget li a, .woocommerce.widget_recent_reviews .product_list_widget li a, .review-title {
    margin-bottom: 14px;
}


.product-details-text h3{ font-family: 'futurastd-bold';     text-align: left; text-transform:uppercase;}

.product .quantity {
    position: relative;
    float: left;
    width: 77px;
    height: 50px;
    text-align: center;
    margin-right: 15px;
    border: 2px solid #1b1b1b;
}
.quantity input.qty {
    font-size: 14px;
    font-weight: 600;
    width: 72px!important;
    height: 100%;
    text-align: center;
    margin-right: 28px;
    float: left;
    top: -15px;
    position: relative;
    background: transparent;
    border-width: 0;
    color: #28262b;
    border-radius: 0;
    margin-top: 15px;
}
.input-text {
    height: 56px;
    line-height: 56px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.single_add_to_cart_button:hover , .woocommerce #review_form #respond .form-submit input:hover{
    background: #fff!important;
    color: #ccc!important;
}
.single_add_to_cart_button, .woocommerce #review_form #respond .form-submit input {
    margin-left: 0px;
    float: left;
}
.single_add_to_cart_button, .woocommerce #review_form #respond .form-submit input{
    float: left;
    padding: 0 50px;
    background: #292929!important;
    border: 2px solid #1b1b1b!important;
    color: #fff!important;
    border-radius: 0!important;
    height: 50px!important;
    margin-left: 20px;
    line-height: 50px;
    cursor: pointer;
    font-family: 'futurastd-bold'!important;
    text-transform: uppercase;
}

.woocommerce #review_form #respond .form-submit input{margin-left:0px;}

.cart {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product_meta {
    float: left;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    color: #ccc;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{color:#000; font-family: 'futurastd-bold';}

.woocommerce div.product .woocommerce-tabs ul.tabs:before{border-bottom: 1px solid #eee;}

.woocommerce div.product .woocommerce-tabs ul.tabs li a{padding: 12px 14px;     font-family: 'FuturaPT-Book';
    text-transform: uppercase;
    text-shadow: none;}
.wc-tab h2 {
    text-align: left;
    padding-bottom: 20px;
}

.woocommerce .entry-content input[type="text"], .woocommerce .entry-content input[type="email"],.woocommerce input[type="text"], .woocommerce select, .woocommerce input[type="email"], .woocommerce input[type="tel"], .woocommerce input[type="password"]{    width: 100%;
    height: 40px; border: 1px solid #eee; padding:10px;}
.woocommerce textarea{border: 1px solid #eee; padding:10px;}
.woocommerce .entry-content textarea{border: 1px solid #eee; }
.woocommerce .shipping button[type="submit"]{margin-left:4px!important;}
.woocommerce #reviews #comments ol.commentlist {
    text-align: left;
    float: left;
    margin: 30px 0px;
    max-width: 900px;
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text{border:0px;}

.woocommerce .star-rating {
    float: left;
    overflow: hidden;
    position: relative;
    height: 20px; !important;
    width: 100%;
    left: 0 !important;
    padding-bottom: 10px;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
    text-transform: uppercase;
    font-family: 'futurastd-bold';
    float: left;
    width: 100%;
	color:#000;
	font-size: 14px!important;
	 margin-bottom: 0px!important;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    position: absolute;
    top: 0px;
    width: 40px;;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{padding:0px;}
.related.products h2{text-align: left;
    padding-bottom: 20px;}
/*********************/
.woocommerce table.shop_table{    margin-bottom: 10px;
    border-collapse: collapse;
    border-width: 0;
    width: 100%;}
.shop_table thead {
    background: transparent;
    border-bottom: 1px solid #e8e8e8;
}

.woocommerce table.shop_table th {
    font-weight: 700;
    color: #666;
}
.woocommerce table.shop_table th, .woocommerce .shop_table thead th.box-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #292929;
    font-family: 'futurastd-bold';
}
table th, table td {
    padding: 5px;
}
.shop_table tbody tr.order_item, .shop_table tbody tr.cart_item {
    background: transparent;
    border-bottom: 1px dashed #e8e8e8;
}
.woocommerce table.shop_table td

.shop_table tbody tr .product-name {
    padding-top: 25px;
    padding-left: 2px;
}
.shop_table tbody tr td {
    padding: 15px 10px;
    vertical-align: top;
	border:none!important;
}
.shop_table tbody tr .product-thumbnail img {
    width: 80px;
    height: 80px;
}

.shop_table tbody tr .product-name a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 5px;
    color: #28262b;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    transition: color .3s ease;
}

.shop_table tbody tr .product-quantity .quantity {
    position: relative;
    float: left;
    width: 77px;
    height: 50px;
    text-align: center;
    margin-right: 15px;
    border: 2px solid #1B1B1B;
}
.shop_table tbody tr .product-quantity .quantity input.qty {
    margin-right: 0;
	top:0px;
}
.shop_table tbody tr .product-remove a {
    position: relative;
    font-size: 18px;
    line-height: 23px;
    padding: 0px 7px 0px 6px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background-color: #000;
    color: #fff!important;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.shop_table tbody tr .product-remove a:hover{background:#000;}
.woocommerce-page table.cart td.actions {
    padding: 30px 25px;
    border: 1px solid #e8e8e8!important;
}
.coupon input[type="text"] {
    height: 56px;
    float: left;
	width: 275px!important;
}
.return-to-shop a.button, .woocommerce .actions input[type="submit"], .woocommerce .login input[type="submit"], .woocommerce .checkout_coupon input[type="submit"], .woocommerce .shipping button[type="submit"], .update_cart, .checkout-button, .login-button {
    height: 56px;
    line-height: 56px;
    padding: 0 30px;
    color: #fff!important;
    background: #292929!important;
    border-radius: 0;
    border: 2px solid #000!important;
    float: left;
    margin: 0px 0 0 0px;
    cursor: pointer;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    font-size: 12px;
    font-family: 'futurastd-bold';
    text-transform: uppercase;
}

.return-to-shop a.button:hover, .woocommerce .actions input[type="submit"]:hover, .woocommerce .login input[type="submit"]:hover, .woocommerce .checkout_coupon input[type="submit"]:hover, .woocommerce .shipping button[type="submit"]:hover, .checkout-button:hover {
    color: #000!important;
    background: #fff!important;
}
.shop_table tbody tr .product-name a:hover {
    color: #ccc;
}

.shop_table tbody tr .product-price, .shop_table tbody tr .product-subtotal {
    padding-left: 2px;
    font-family: 'futurastd-bold';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.18px;
    text-transform: none;
    letter-spacing: 0px;
    word-spacing: 0;
    color: #292929;
    -webkit-transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out;
    transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out;
    padding-top: 0px;
}
.shop_table.order_details tfoot tr, p.total, .cart-subtotal, .shipping, .order-total {
    border-bottom: 1px solid #eee;
    font-size: 12px;
    font-family: 'futurastd-bold';
    text-transform: uppercase;
}
.cart_totals h2{ font-family: 'futurastd-bold'; font-size: 25px; text-align:left;}

.woocommerce-message {
	float:left;
	width:100%;
	color:#000;
	text-align:left;
	padding:10px 6px 10px 16px;
	margin-bottom:30px;
	font-family: 'futurastd-bold';
    text-transform: uppercase;
	font-size:12px;
	z-index:2;
}
.woocommerce-message a {
	float:right;
	color:#ccc;
}
.woocommerce-message a:hover {
	color:#000;
	text-decoration:line-through;
} 

.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    padding: 20px 20px 20px 20px;
    margin: 0 0 2em!important;
    position: relative;
    background: #eee;
    color: #515151;
    list-style: none!important;
    width: 100%;
    word-wrap: break-word;
    font-size: 14px;
    letter-spacing: 1px;
}
.woocommerce-message {
    float: left;
    width: 100%;
    color: #000;
    text-align: left;
    padding: 10px 6px 10px 16px;
    margin-bottom: 30px;
    font-family: 'futurastd-bold';
    text-transform: uppercase;
    font-size: 12px;
}
.woocommerce .woocommerce-message, .woocommerce .woocommerce-info {
    border-top-color: #000;
}
.wr-loader:before{background: transparent!important;}

.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a{font-family: 'futurastd-bold';
    font-size: 16px; text-transform:uppercase;}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove{
    font-size: 18px;
    line-height: 21px;
    padding: 0px 7px 0px 6px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background-color: #000;
    color: #fff!important;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
	top: 5px;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove:hover, .woocommerce.widget_shopping_cart .cart_list li a.remove:hover{opacity:0.6;}
.wr-woo-widget  .blog-title{padding-bottom:0px;}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{width:35%;}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total{margin-bottom:20px;}
span.quantity{ font-family: 'futurastd-bold';}
.actions .button{margin-left:20px!important;}

#rememberme{margin-left:10px;}

.woocommerce span.onsale{border-radius: 0px;
    background-color: #000;}
.woocommerce ul.products li.product .onsale {
    top: 6px;
    right: 6px;
    left: auto;
    margin: -.5em -.5em 0 0;
}
.woocommerce .services-holder  span.onsale{z-index:1;left:0px; top:0px;}
.blog-inner ul.products, .gallery-items ul.products{position:relative;}
.widget_product_tag_cloud a {
	padding:10px 20px;
	float:left;
	font-size:12px!important;
	letter-spacing:2px;
	text-transform:uppercase;
	background:#000;
	margin-right:10px;
	color:#fff;
}
.widget_product_tag_cloud a:hover{opacity:0.6;}
.wr-product-box{padding-top:40px;}