/*
============================================================

	Theme Name: Kalium - Child Theme
	Theme URI: http://www.laborator.co/view-theme/kalium
	Author: Laborator
	Author URI: http://laborator.co/
	Version: 1.0
	Description: Use this theme if you want to extend features of Kalium theme or prevent overwriting the changes you make when new theme update is available.
	Tags: agency, architecture, blog, clean, creative, ecommerce, gallery, minimal, photography, portfolio, shop, kalium, translation-ready, theme-options, responsive-layout
	Template: kalium
	Text Domain: kalium
	
============================================================
*/


.message-form .form-group.absolute .placeholder {
	position: relative;
}
.contact-form input,
.contact-form textarea,
.comment-form input,
.comment-form textarea {
	background: whitesmoke;
	padding: 10px !important;
}

.main-header.menu-type-full-bg-menu .full-screen-menu nav div.menu > ul > li > a::after,
.main-header.menu-type-full-bg-menu .full-screen-menu nav ul.menu > li > a::after,
.wrapper a::after, footer.main-footer a::after {
	background-color:transparent !important;
}

.menu .menu-item a:hover,
.menu .menu-item a:focus,
.menu .menu-item.current-menu-item {
	background-color: #f3601d;
	padding: 0 10px;
}
.sidebar-social .color:hover.facebook,
.social .color:hover.facebook,
.sidebar-social .color:hover.linkedin,
.social .color:hover.linkedin,
.sidebar-social .color:hover.google,
.sidebar-social .color:hover.google-plus,
.social .color:hover.google,
.social .color:hover.google-plus,
.product-filter ul li a:hover {
	color: #f3601d;
}

.project-multiple-links a {
	color: #f3601d;
	background-color: transparent;
	background-image: none;
	border: 2px solid #f3601d;
	border-radius: 2em;
	box-sizing: border-box;
	display: inline-block;
	font-size: 14px;
	line-height: normal;
	margin-bottom: 0;
	padding: 14px 20px;
	position: relative;
	text-align: center;
	top: 0;
	transition: all 0.2s ease-in-out 0s;
	vertical-align: middle;
	word-wrap: break-word;
}
.project-multiple-links a:hover,
.project-multiple-links a:focus {
	color: #fff;
	background-color: #f3601d;
}
.portfolio-big-navigation {
	margin-bottom: 50px;
}

.message-form .form-group .placeholder {
	border-bottom: 0;
}


.product-filter ul {
    float: left;
}

.team-image {
	height: 200px;
	width: 200px;
}

.single-blog-holder .comments-holder {
	background: #fff;

	}

.col-md-4 {

width: 20%;

}	

@media only screen and (min-width: 768px) {

	#main-wrapper {
		top: 100px;
	}
	.home #main-wrapper {
		top: 0px;
	}
	.main-header,
	.header-absolute .main-header {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #1f1b1c;
		padding: 0;
	}
	.menu-bar.menu-skin-dark .ham,
	.menu-bar.menu-skin-dark .ham:after,
	.menu-bar.menu-skin-dark .ham:before {
		background-color: #fff;
	}
	.main-header.menu-type-full-bg-menu .full-screen-menu nav {
		float: right;
		text-align: right;
		margin-top: 125px;
	}

	.main-footer.fixed-footer {
		z-index: 100;
	}

}


/* Langugage selecter */
#icl_lang_sel {
	color: #ccc;
}
#icl_lang_sel span {
	padding: 0 3px;
	text-transform: uppercase;
}
#icl_lang_sel a {
	color: #fff;
}
#icl_lang_sel a:hover,
#icl_lang_sel a:focus {
	text-decoration: underline;
}

/* Sidebar */
.sidebar-box-holder {
	margin-top: 40px;
}
.social-share-container .col-xs-12 {
	float: none;
	padding-right: 0;
	padding-left: 0;
}
.single-blog-holder .social-share-container .share-holder {
	margin-top: 0;
	margin-bottom: 40px;
}




/* Footer */

.main-footer .big-footer {
	margin: 0;
}
.main-footer .footer-links {
	padding: 15px 0 10px;
}
.main-footer hr {
	display: none;
}